openapi: 3.0.3
info:
  title: Tidio OpenAPI (REST) Contacts Operators API
  description: 'REST API for managing contacts, conversations, tickets, operators, and Lyro AI data sources. Requires Plus or Premium plan for full access; Lyro AI plan grants access to Lyro-specific endpoints. Authentication uses paired X-Tidio-Openapi-Client-Id and X-Tidio-Openapi-Client-Secret headers. Rate limits range from 10 requests per minute (entry plans) to 120 requests per minute (Premium).

    '
  version: '1'
  contact:
    name: Tidio Developer Support
    url: https://developers.tidio.com/support
  termsOfService: https://www.tidio.com/terms/
  license:
    name: Proprietary
    url: https://www.tidio.com/terms/
servers:
- url: https://api.tidio.co
  description: Tidio REST API
security:
- clientId: []
  clientSecret: []
tags:
- name: Operators
  description: Retrieve operator (chat agent) information
paths:
  /operators:
    get:
      operationId: getOperators
      tags:
      - Operators
      summary: Get operators
      description: Returns a paginated list of operators (chat agents).
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: Paginated list of operators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    OperatorList:
      type: object
      properties:
        operators:
          type: array
          items:
            $ref: '#/components/schemas/Operator'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        cursor:
          type: string
          nullable: true
          description: Token for the next page; null when on the last page.
        limit:
          type: integer
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorItem'
    Operator:
      type: object
      properties:
        id:
          type: string
          format: uuid
        active:
          type: boolean
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        role:
          type: string
          enum:
          - owner
          - admin
          - chat_agent
          - moderator
          - custom
        picture:
          type: string
          format: uri
          nullable: true
        last_seen:
          type: string
          format: date-time
          nullable: true
    ErrorItem:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-Tidio-Openapi-Client-Id
    clientSecret:
      type: apiKey
      in: header
      name: X-Tidio-Openapi-Client-Secret
